.adminContainer {
    background-color: rgb(255, 255, 255);
    height: 900px;
    font-family: sans-serif;

}


.col1 {
    /* border: 2px solid red; */

    background-color: #000137;
    color: white;
    height: 900px;

}


.col2 {
    /* border: 2px solid rgb(0, 183, 255); */
    text-align: center;
}

.dashboard {
    /* border: 1px solid white; */
    width: 100%;
    height: 70px;
    text-align: center;
}

.dash-head {
    margin: 1rem;
    font-style: oblique;
    font-weight: bolder
}

.tools {
    font-size: x-large;
    display: flex;
    justify-content: space-between;

}

.tool-name {
    font-size: x-large;
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(207, 218, 218);
    margin-left: 10%;
    height: 1rem;
    width: auto;
}

.tool2 {


    width: auto;
    display: flex;
    justify-content: space-between;

}

.hide {
    margin-left: 20px;
    background-color: #000137;
    justify-content: space-between;
}