.modal1 {
    /* border: 2px solid red; */
    width: auto;
    height: 70px;
    display: flex;
}

.img-container {
    width: 17%;
    height: 85%;
    /* border: 2px solid green; */
}

.img {
    margin-top: 20px;
    width: 80%;
    height: 60%;
    border-radius: 50%;
}

.details {
    /* border: 3px solid blue; */
    height: auto;
    padding-top: 25px;
}

.time {
    width: 20%;
    padding-top: 25px;

}