.photoRow {
    /* border: solid 2px red; */
    height: 300px;
    margin-top: 60px;
}

.photoCol1 {
    /* border: 2px solid green; */


}

.photoCol2 {
    /* border: 2px solid green; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profilePhoto {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.user-name {
    padding-left: 40px;
    color: #ae3e3e;
}